.style_full__ptzZq,
.style_next_button__N_pbs {
    padding: 100px !important;
}

.style_search_btn__ZuOpx {
width: 500px !important;
height: 50px !important;
}
.style_main__arrows__entrance_date__arrow__sYPyn {
width: 300px !important;
height: 50px !important;
}
.style_main__arrows__event__arrow__OJk9i {
width: 300px !important;
height: 300px !important;
}
.style_ticket_selection__band__U5V9Q:nth-child(3),
.style_main__img__Y5bVw,
.style_book_now_other__PZOW8,
.style_book_now__wrap__guide__kU_5V,
.style_book_now__guide__GzHnu,
.style_book_now__wrap__time__UClVd,
.style_search_item_note__vExQQ,
.style_main__info__RM3Dr,
.style_main__ope_info__sgPFf,
.style_main__strong_info__02uX0,
.style_main__note_sub__NaFm6,
.style_main__ticket_count__AhREp,
.style_step_info_second__3JcO2,
.style_search_input_label_pc__eca1s,
.style_event_links__jS3Q_,
.style_title__jFGv9,
.style_info__CFlEQ,
.reserve,
.style_horizon__1JysW,
.sp-lh,
.styles_lead_button__5eAGA:nth-child(1),
.styles_lead_button__5eAGA:nth-child(2),
.styles_lead_button__5eAGA:nth-child(3),
.style_main__usage__GPY6i,
.styles_other_buy__title__RwMIW,
.styles_other_buy__list__CvwzW,
.style_main__page_title__c7e_v,
.style_main__other_link__WSeX7,
.style_main__visit_hope_date_title__OWArh,
.style_selector_item_disabled__iSIA2,
.style_main__title__uGwso,
.style_main__access_description__w0ln5,
.style_main__access__LWLUK,
header,
.style_main__info__EuSQ4,
.style_main__confirm__58YhI,
.style_main__title__gPhh9,
.style_main__head__n643E,
.style_main__visit_date__bWSvl,
.style_main__sub_head__wlGqv,
.style_main__ticket_count_box__d4T6I,
.style_content___pU7i,
.style_main__ticket_count__sXoGn,
.header2,
.style_main_header__HqBbu,
.style_footer__iVohO,
.style_info__DjEiR,
.style_description__o9igj,
.style_event_chip_links___Pve2,
.style_scale__XzXt6,
.style_footer__0ED9w,
.style_form_result_head__vWpwF,
.style_form_search_caption__DbKqM,
.style_form_select_time__TZmGY,
.style_hour_unit_wrap__piAg4,
.style_scale__Wf3te,
.style_main_img__W_6pm,
.style_sub_title__bDw9W,
.style_caption__riP_k,
.style_title__44y_b,
.ot-floating-button__front,
.style_sp_navi__list__ynlBF,
.style_sp_navi__3gxst,
.style_info__IMd9g,
.style_note__IV38f,
.style_display_controller__SHljn,
.style_ticket_selection__selection_count__UQ6tz,
.style_ticket_selection__ticket_count__UAArm,
.style_ticket_selection__notice__QKIJm,
.style_ticket_selection__operation__5_xwc,
.style_ticket_selection__lead__X6Nmh,
.style_ticket_selection__hidden_ticket_message__SlrMo,
.style_disabled_get_ticket___nZ_8,
.style_more_btn_deactive__jsP8I,
.style_steps__KA_XB,
.style_slide__F_fNI,
.styles_title__9jT_J,
.styles_display_controller__ODR1w,
.style_search_input_label_sp__IDW6G,
.styles_info__4kC2A,
.lead,
.style_wrapper__LDMLO,
.h-type1,
.note-text,
.ticket-card,
.more-btn-wrap,
.reverse,
.style_ticket_count__gfKHL,
.style_main__mt6v9,
.top-padding,
#news,
.btn-wrap-type1,
.styles_expo_site_link__buhLi,
.style_main__footer__NVk0k,
.style_main__ticket_group_summary__oZRfR,
.style_main__notes__9VjEx,
.style_main__heading_wrap__qbkH6,
.style_info__rjheq,
.style_main__request_guide__BNM2t,
.style_main__parking__0pxbz,
.style_hidden_ticket_label__CKjWh,
.style_display_controller__6A_oc,
.style_main__visit_messages__GP8AM,
.style_invoice_note__G9n0Q,
.style_main__EyJHr,
.style_main__OEY5a,
.style_step_info_second__pxlY5,
.style_step_info_first__Y8D4_,
.style_main__title__x4qR9,
.style_empty_frame__info__xnrnV,
.style_terms__title__FVk2S,
.style_main__contents__second__img__X4jIk,
.style_main__contents__first__summary__Z6SSp,
.style_main__contents__first__name__QOGlc,
.style_main__header__eAqgA,
.style_main__page_title__X_Tpw,
.style_main__title__omISt,
.style_main__arrows__entrance_date__label_wrap__title__gvHvT,
.style_main__arrows__entrance_date__label__t2CCw,
.style_main__reserve_num_title__ybaVv,
.style_form_result_caption__iXsYT,
.style_button__F9pH2,
.style_event_arrows_disabled__rj7VL,
.style_main__arrows__event__label__OJR_U,
.style_empty_frame__note__llqSp,
.style_event_links__link__AM5sQ,
.style_main__kxJbI,
.style_on_the_day__guide__q9gV9,
.style_search_item_row__moqWC:has(img[src*="calendar_none.svg"]),
img[src*="/asset/img/bg_step_arrow_left_gray.png"],
img[src*="/asset/img/bg_step_arrow_right_gray.png"],
img[src*="/asset/img/bg_step_arrow_left_red.png"],
img[src*="/asset/img/bg_step_arrow_right_red.png"],
img[src*="/asset/img/bg_step_arrow_left_blue.png"],
img[src*="/asset/img/bg_step_arrow_right_blue.png"],
.style_time_picker__wrap__UBImr:has(.style_time_picker__disabled___yvRh) {
display: none !important;
}

td:has(img[src*="calendar_ng.svg"]) {
visibility: hidden;
}
